<div class="active-page d-flex align-items-center justify-content-between">
    <div class="title d-flex align-items-center">
        <div class="icone">
            <img src="assets/images/dossier-large.svg" alt="">
        </div>
        <div>Dossier douane</div>
    </div>
    <div class="link">
        <a routerLink="transit/new" class="d-flex align-items-center">
            <img src="assets/images/dossier-large.svg" alt="">
            <span>Créer un dossier un n° dossier +</span>
        </a>
    </div>
</div>