<div class="table-title">
    Liste des articles
</div>

<table class="table">
    <thead class="table-light">
        <tr>
            <th></th>
            <th scope="col">Numéro</th>
            <th scope="col">Description</th>
            <th scope="col">Prix</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="!isLoading">
            <tr *ngFor="let article of articlesTransits" [class.active]="isChecked(article)">
                <td>
                    <input type="checkbox" (click)="selectArticle(article)" [checked]="isChecked(article)">
                </td>
                <th scope="row">{{ article.Numero }}</th>
                <td>{{ article.Description }}</td>
                <td>{{ article.Prix }}</td>
            </tr>
        </ng-container>
        <ng-container *ngIf="isLoading">
            <tr>
                <td colspan="100%" class="text-center">
                    <div class="spinner-border" role="status">
                    </div>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>