<div class="detail">
    <div class="row">
        <div class="col-4">
            <app-input [label]="'Supplier'" [value]="po?.Number" [disabled]="true"></app-input>
        </div>
        <div class="col-4">
            <app-input [label]="'Ordered'" [value]="po?.OrderDate" [disabled]="true"></app-input>
        </div>
        <div class="col-4">
            <app-input [label]="'Buyer'" [disabled]="true" [value]="po?.DepartmentCode"></app-input>
        </div>
    </div>
    <div class="row mt-50">
        <div class="col-4">
            <app-input [label]="'Department Name'" [value]="po?.DepartmentDescription" [disabled]="true"></app-input>
        </div>
        <div class="col-4">
            <app-input [label]="'Date Del EXW'" [value]="po?.OrderDate" [disabled]="true"></app-input>
        </div>
        <div class="col-4">
            <app-input [label]="'Réquisition N°'" [disabled]="true"></app-input>
        </div>
    </div>
</div>

<div class="table-title">
    Liste des articles du PO
</div>

<table class="table">
    <thead class="table-light">
        <tr>
            <th></th>
            <th scope="col">Numéro</th>
            <th scope="col">Description</th>
            <th scope="col">Prix</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="!isLoading">
            <tr *ngFor="let article of articles" [class.active]="isChecked(article)">
                <td>
                    <input type="checkbox" (click)="selectArticle(article)" [checked]="isChecked(article)">
                </td>
                <th scope="row">{{ article.Numero }}</th>
                <td>{{ article.Description }}</td>
                <td>{{ article.Prix }}</td>
            </tr>
        </ng-container>
        <ng-container *ngIf="isLoading">
            <tr>
                <td colspan="100%" class="text-center">
                    <div class="spinner-border" role="status">
                    </div>
                </td>
            </tr>
        </ng-container>
    </tbody>
  </table>