<div class="app-breadcrumb d-flex justify-content-between align-items-center">
    <div class="breadcrumb d-flex">
        <a href="">Dashboard</a>
        <span>/</span>
        <a href="">Dossier Transit</a>
    </div>

    <div class="settings d-flex">
        <div class="item d-flex">
            <img src="assets/images/user.svg" alt="">
            <span>Admin</span>
        </div>
        <div class="item d-flex">
            <img src="assets/images/settings.svg" alt="">
        </div>
        <div class="item d-flex">
            <img src="assets/images/notifications.svg" alt="">
        </div>
    </div>
</div>