<div class="sidebar d-flex flex-column">
    <div class="sidebar-content">
        <div class="sidebar-logo">
            <img src="assets/images/logo.png" alt="">
        </div>
        <div class="list-links">
            <a routerLink="" class="link d-flex align-items-center">
                <img src="assets/images/home.png" alt="">
                <span>Tableau de bord</span>
            </a>
            <a routerLink="transit" class="link d-flex align-items-center" routerLinkActive="active">
                <img src="assets/images/dossier-douane.png" alt="">
                <span>Dossier Transit (Im/Ex)</span>
            </a>
            <a routerLink="douane" class="link d-flex align-items-center" routerLinkActive="active">
                <img src="assets/images/dossier-douane.png" alt="">
                <span>Dossier douane</span>
            </a>
            <a routerLink="" class="link d-flex align-items-center">
                <img src="assets/images/piece-jointe.png" alt="">
                <span>Suivi des pièces jointes</span>
            </a>
            <a routerLink="" class="link d-flex align-items-center">
                <img src="assets/images/paiement-account.png" alt="">
                <span>Paiement ou Acompte</span>
            </a>
            <a routerLink="" class="link d-flex align-items-center">
                <img src="assets/images/apix.svg" alt="">
                <span>APIX / crédit d’impôt</span>
            </a>
        </div>
    </div>
</div>