<div class="login">
    <div class="login-content d-flex align-items-center flex-column">
        <div class="login-logo">
            <img src="assets/images/logo.png" alt="">
        </div>
        <div class="login-title">
            Bienvenue <br> Sur la plateforme custom clearance
        </div>

        <div class="login-form">
            <div class="title">Se connecter</div>
            <div class="alert alert-danger" role="alert" *ngIf="badLogin">
                Login ou mot de passe incorrect
              </div>
            <form #form="ngForm" (submit)="postLogin()">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input name="login" [(ngModel)]="login" type="email" class="form-control" id="login" placeholder="Entre votre login">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input name="password" [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-green btn-block">Se connecter</button>
              </form>
        </div>
    </div>
</div>