<div class="d-flex">
    <label class="item d-flex align-items-center" for="actual-btn">

        <!-- actual upload which is hidden -->
        <input type="file" id="actual-btn" hidden/>

        <!-- our custom upload button -->
        <div class="label">Choisir un fichier</div>

        <!-- name of file chosen -->
        <span id="file-chosen">Cliquer pour choisir un fichier</span>
    </label>
    <!--
    <label class="item d-flex align-items-center" for="actual-btn">

        <input type="file" id="actual-btn" hidden/>

        <div class="label">Choisir un fichier</div>

        <span id="file-chosen">Cliquer pour choisir un fichier</span>
    </label>
    -->
</div>