.item {
    flex: 1;
    border: dotted 1px #515151;
    background-color: #fafafa;
    padding: 30px 15px;
    cursor: pointer;

    // &:first-child {
    //     margin-right: 20px;
    // }

    .label {
        background-color: #4fd1c5;
        color: white;
        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 4px;
        margin-right: 20px;
        cursor: pointer;
    }
      
    #file-chosen{
    margin-left: 0.3rem;
    font-family: sans-serif;
    }
      
}